---

# This config file is an example, as it could contain sensitive information (e.g. credentials).
#
# Rename it to `site-bikeways.env.yml`, which is under .gitignore.
#
# All application-level configuration for the Bikeways site should be done here.
#
# Details:
# * The Rails site uses the `dotenv` gem to manage configuration.
# * All values stored in {APP_ROOT}/.env will be accessible via ENV
# * This playbook will deploy an .env file with the following values.
# * To add more config values, edit `roles/bikeways/templates/bikeways.env`

ADMIN_NAME: Example
ADMIN_EMAIL: example@example.com
ADMIN_PASSWORD: example
GMAIL_USERNAME: example
GMAIL_PASSWORD: example

# Run `rake secret` inside a Rails app to re-generate these keys.
SECRET_KEY_BASE: 5bceac17bd521c136d9498c4da8858b2c6ca9cf212180517e6965383fc572069f90b10a291e97882095aec170d998cbe31bebe880622a005f118bf714768f41f
DEVISE_SECRET_KEY: 4c23b4a3909dd4fffaf78e0fc25fc6ba4c8b961579c07707969d7a02801f04ce521c93c6aed5bfc3339018daeb97222ec561773326382aad4fbcbed08810e2a5


