---

# This config file is an example, as it could contain sensitive information (e.g. credentials).
#
# All configuration for the Bikeways site that varies between environments should be done here. Anything that is either SENSITIVE or
# ENVIRONMENT-SPECIFIC should be in this file.
#
# Edit it and save it to `host_vars/{{HOST}}/site-bikeways.env.yml`. 
#
#   Note: Ansible will load all files in each host_vars subdirectory. 
#         It is important to use *.env.yml extension so it is gitignore-d!
#
# Details:
#   * The Rails site uses the `dotenv` gem to manage configuration.
#   * All values stored in {APP_ROOT}/.env will be accessible via `ENV` in Railsapp
#   * This playbook will deploy an .env file with the following values.
#   * This file only contains variables. The actual `.env` template is where you would add more config values, and is located at `roles/bikeways/templates/bikeways.env`

BIKEWAYS_ADMIN_NAME: Example
BIKEWAYS_ADMIN_EMAIL: example@example.com
BIKEWAYS_ADMIN_PASSWORD: example
BIKEWAYS_GMAIL_USERNAME: example
BIKEWAYS_GMAIL_PASSWORD: example

# Run `rake secret` inside a Rails app to re-generate these keys.
BIKEWAYS_SECRET_KEY_BASE: 5bceac17bd521c136d9498c4da8858b2c6ca9cf212180517e6965383fc572069f90b10a291e97882095aec170d998cbe31bebe880622a005f118bf714768f41f
BIKEWAYS_DEVISE_SECRET_KEY: 4c23b4a3909dd4fffaf78e0fc25fc6ba4c8b961579c07707969d7a02801f04ce521c93c6aed5bfc3339018daeb97222ec561773326382aad4fbcbed08810e2a5


