staging:
  adapter: postgis
  timeout: 5000
  encoding: utf8
  reconnect: false
  database: {{ bikeways_database_name }}
  pool: 5
  username: {{ bikeways_database_user }}
  password: {{ bikeways_database_password }}
  host: {{ bikeways_database_host }}
  port: {{ bikeways_database_port }}